<div>
	<h3>User info</h3>
	<div>
		<%= attachment_image_tag @user, :profile_image,fill, 60, 60, class:"profile-thumb", fallback:"no_image.jpg" %>
	</div>
	<table>
		<tr class="name-list">
			<td>name</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>introduction</td>
			<td>link</td>
		</tr>
	</table>
	<%= link_to '', %>
</div>